{  
  "env": {  
    "browser": true,  
    "es2021": true,  
    "node": true,  
    "jest": true  
  },  
  "extends": [  
    "eslint:recommended",  
    "plugin:react/recommended"  
  ],  
  "overrides": [  
    {  
      "files": ["*.css"],  
      "rules": {  
        "no-unused-expressions": "off",  
        "no-undef": "off"  
      }  
    },  
    {  
      "files": ["src/**/*.test.js"],  
      "env": {  
        "jest": true  
      }  
    }  
  ],  
  "parserOptions": {  
    "ecmaFeatures": {  
      "jsx": true  
    },  
    "ecmaVersion": 12,  
    "sourceType": "module"  
  },  
  "plugins": ["react"],  
  "settings": {  
    "react": {  
      "version": "detect"  
    }  
  },  
  "rules": {}  
}  